.gestionPedidosContainer {
    background: rgb(224, 224, 224); /* Mantener el color de fondo para esta página, si MainLayout.module.css no lo setea */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden; 
}

.gestionPedidosContainer h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  padding: 0;
  margin-top: 0;
}

.contenidoPrincipal {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1; 
  margin-top: 0; 
  overflow: hidden;
}

.categorias {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}


.paneles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
  gap: 1rem;
  flex-grow: 1; 
  overflow: hidden; 
  align-items: stretch; 
}

