/**
 * @archivo: login.module.css
 * @descricion: Estilos específicos para las páginas de autenticación (login y registro),
 * incluyendo el contenedor de la página, el formulario, logo, campos de entrada y botones.
 **/
.authPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'ubuntu_custom', sans-serif;
  }

  .formContainer {
    background-color: #f8f9fa;
    padding: 2.5rem 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
  }

  .formLogo {
    width: 70px;
    height: 70px;
    background-color: #1a202c;
    border-radius: 50%;
    margin: 0 auto 1.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
  }

  .formLogo svg {
      width: 50%;
      height: 50%;
      fill: white;
  }


  .title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
  }

  .formGroup {
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .inputField {
    width: 100%;
    padding: 0.9rem 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .inputField:focus {
    border-color: #0000001a;
    box-shadow: 0 0 0 0.2rem #1a202c;
    outline: none;
  }

  .optionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
  }

  .checkboxContainer {
    display: flex;
    align-items: center;
    color: #555;
  }

  .checkboxContainer input[type="checkbox"] {
    margin-right: 0.5rem;
    accent-color: #1a202c;
  }

  .forgotPasswordLink {
    color: #1a202c;
    text-decoration: none;
  }

  .forgotPasswordLink:hover {
    text-decoration: underline;
  }

  .submitButton {
    width: 100%;
    padding: 0.9rem 1.5rem;
    background-color: #1a202c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .submitButton:hover {
    background-color: #1a202c;
  }

  .switchFormLink {
    display: block;
    margin-top: 1.5rem;
    color: #000000;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .switchFormLink:hover {
    text-decoration: underline;
  }