/* Frontend/src/components/modals/EntregaAccionModal/EntregaAccionModal.module.css */

.container {
  max-width: 400px !important; 
  text-align: center;
}

.title {
  margin-top: 0;
  color: #ffffff;
}

.description {
  color: #c0bdbd;
  margin-bottom: 25px;
  font-size: 0.95rem;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.btnDirecto {
  background-color: #4cad38; 
  justify-content: crgb(51, 185, 38)
}

.btnEditar {
  background-color: #ee900c; 
  color: white !important;
  justify-content: center;
}

.closeLink {
  background: none;
  border: none;
  color: #c4bebe;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
}